* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Upright', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    object-fit: contain;
}

body {
    z-index: 1;
}

.container {
    width: 1240px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;
    background-color: rgba(249, 249, 249, 1);
    opacity: 0.9;
    height: 150px;
    position: fixed;
    z-index: 50;
}

.header {
    padding: 40px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.header_logo figure a img {
    width: 148px;
    height: 83px;
    transition: all ease-in-out 400ms;
}

.header_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header_nav ul li {
    list-style-type: none;
}

.header_nav ul li a {
    font-size: 18px;
    font-weight: 400;
    color: rgba(49, 49, 49, 1);
    text-decoration: none;
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.header_nav ul li a:hover {
    color: rgba(255, 127, 2, 1);
    text-shadow: 0 1px 10px rgba(255, 127, 2, 1);
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header_right a {
    font-size: 16px;
    font-weight: 700;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-decoration: none;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.header_right a:hover {
    color: rgba(255, 127, 2, 1);
    text-shadow: 0 1px 10px rgba(255, 127, 2, 1);
}

.btn {
    width: 163px;
    height: 36px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(255, 154, 57, 1), rgba(255, 175, 55, 1));
    color: rgba(249, 249, 249, 1);
    border: none;
    box-shadow: 0 2px 10px rgba(255, 127, 2, 1);
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(250deg, rgba(255, 125, 0, 1), rgba(255, 175, 55, 1));
}

.btn:active {
    box-shadow: 0 1px 5px rgba(255, 127, 2, 1);
}

main {
    background: linear-gradient(90deg, rgba(1, 51, 136, 1), rgba(1, 148, 207, 1));
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 200px 20px 150px;
}

.main_left {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 40px;
    flex-direction: column;
    text-align: left;
}

.main_left h1 {
    font-size: 45px;
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.main_left p {
    font-size: 18px;
    font-weight: 300;
    color: rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
}

.btn2 {
    width: 360px;
    height: 70px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 2px 10px rgba(255, 234, 0, 1);
    background-color: rgba(255, 234, 0, 1);
    cursor: pointer;
}

.btn2:hover {
    background: linear-gradient(250deg, rgba(255, 197, 49, 1), rgba(255, 234, 0, 1));
}

.btn2:active {
    box-shadow: 0 1px 5px rgba(255, 234, 0, 1);
}

.main_right figure img {
    width: 700px;
    height: 650px;
    position: absolute;
    top: 100px;
    right: 0;
    transition: all ease-in-out 400ms;
    user-select: none;
}

.st1 {
    position: relative;
}

.st1 h2 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.st1 p {
    font-size: 25px;
    font-weight: 400;
    padding: 30px 0 20px;
    color: rgba(249, 249, 249, 1);
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.st1_grid_block {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: 508px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    transition: all ease-in-out 400ms;
}

.st1_block {
    width: 360px;
    height: 508px;
    border-radius: 45px;
    background-color: rgba(249, 249, 249, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(49, 49, 49, 1);
    position: relative;
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.st1_img1 {
    width: 350px;
    height: 300px;
    position: absolute;
    top: -40px;
    left: 0;
    user-select: none;
}

.st1_img2 {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 30px;
    user-select: none;
}

.st1_img3 {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 20px;
    left: 20px;
    user-select: none;
}

.st1_block p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(49, 49, 49, 1);
    margin: 200px 0 20px;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
}

.st1_block .btn2 {
    width: 320px;
    height: 47px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(49, 49, 49, 1);
    margin: 0 0 20px;
}

.btn3 {
    width: 320px;
    height: 47px;
    border-radius: 16px;
    color: rgba(49, 49, 49, 1);
    border: 1px solid rgba(49, 49, 49, 1);
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 1px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.btn3:hover {
    border: 1px solid rgba(255, 125, 0, 1);
    color: rgba(255, 125, 0, 1);
    box-shadow: 0 1px 10px rgba(255, 125, 0, 1);
}

.btn3:active {
    box-shadow: 0 1px 5px rgba(255, 125, 0, 1);
}

.st1_abs {
    width: 157px;
    height: 47px;
    background-color: rgba(227, 22, 22, 1);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(249, 249, 249, 1);
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.st2 h2 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    margin: 150px 0 50px;
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.st2_grid_block {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-auto-rows: 490px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 0 0 100px;
    transition: all ease-in-out 400ms;
}

.st2_block {
    width: 260px;
    height: 490px;
    border-radius: 45px;
    background-color: rgba(249, 249, 249, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(49, 49, 49, 1);
    position: relative;
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.st2_block figure img {
    width: 250px;
    height: 200px;
    position: absolute;
    top: -40px;
    left: 0;
    user-select: none;

}

.st2_block_varen figure img {
    top: 10px;
    width: 220px;
    left: 15px;
}

.st2_block_mantu figure img {
    top: 10px;
}

.st2_block_xincal figure img {
    top: 10px;
}

.st2_block p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(49, 49, 49, 1);
    margin: 150px 0 30px;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
}

.st2_block .btn2 {
    width: 225px;
    height: 47px;
    margin: 0 0 30px;
}

.st2_block .btn3 {
    width: 225px;
    height: 47px;
}

.bg_st1-st2 {
    background: url(../img/bg1.png) no-repeat center;
}

.st3_bg {
    background: url(../img/st3_bg.png) no-repeat center;
}

.st3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 150px 20px;
    transition: all ease-in-out 400ms;
}

.st3 h2 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    margin: 0 0 10px;
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.st3 p {
    font-size: 24px;
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
}

.st4 {
    max-width: 1160px;
    height: 635px;
    border: 3px solid rgba(49, 49, 49, 1);
    border-radius: 16px;
    background-color: rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
    position: relative;
    margin: 120px auto;
}

.st4_left figure img {
    width: 557px;
    height: 629px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    transition: all ease-in-out 400ms;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}


.st4_right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    gap: 30px;
    margin: 0 0 0 520px;
}

.st4_right h2 {
    font-weight: 700;
    font-size: 45px;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    margin: 30px 0 50px;
}

.st4_right p {
    font-size: 18px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    margin: 0 0 30px;
}

.st4_right p span {
    font-weight: 700;
}

.st5 {
    max-width: 1160px;
    background-color: rgba(249, 249, 249, 1);
    border: 3px solid rgba(49, 49, 49, 1);
    border-radius: 16px;
    transition: all ease-in-out 4000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin: 100px auto;
    padding: 50px 0;
}

.st5 h2 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 4000ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    margin: 0 0 50px;
}

.st5 p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 4000ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.st6 {
    max-width: 1160px;
    height: 510px;
    background-color: rgba(249, 249, 249, 1);
    border: 3px solid rgba(49, 49, 49, 1);
    border-radius: 16px;
    transition: all ease-in-out 4000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    text-align: left;
    margin: 100px auto;
    position: relative;
}

.st6_left h2,
.st6_right h2 {
    font-size: 30px;
    font-weight: 500;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 4000ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    margin: 50px 0;
}

.st6_left p,
.st6_right p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 4000ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.st6 span {
    width: 3px;
    height: 498px;
    background-color: rgba(49, 49, 49, 1);
    position: absolute;
    top: 0;
    left: 735px;
    transform: rotate(180deg);
}

.st7 {
    max-width: 1200px;
    height: 600px;
    transition: all ease-in-out 4000ms;
    margin: 0 auto 100px;
}

.st7 h2 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    transition: all ease-in-out 4000ms;
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    margin: 50px 0;
}

.st7 .swiper {
    width: 100%;
    height: 450px;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 16px;
    transition: all ease-in-out 4000ms;
}

.st7 .swiper-slide {
    width: 300px;
    height: 425px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 4000ms;
}

.st7 .swiper-slide figure img {
    width: 300px;
    height: 425px;
    margin: 0 10px 0;
    border: 1px solid rgba(49, 49, 49, 1);
    border-radius: 16px;
    user-select: none;
    transition: all ease-in-out 4000ms;
}

.st8 {
    max-width: 1200px;
    height: 250px;
    transition: all ease-in-out 4000ms;
}

.st8 h2 {
    font-size: 45px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
    transition: all ease-in-out 4000ms;
    margin: 50px 0;
    text-transform: uppercase;
}

.st8 .swiper {
    width: 100%;
    height: 120px;
    transition: all ease-in-out 4000ms;
    margin: 0 0 50px;
    background-color: rgba(249, 249, 249, 1);
    border: 3px solid rgba(249, 249, 249, 1);
    border-radius: 16px;
}

.st8 .swiper-slide {
    width: 114px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    background: rgba(249, 249, 249, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 4000ms;
}

.st8 .swiper-slide figure img {
    width: 114px;
    height: 100px;
    user-select: none;
}

@media (max-width: 760px) {
    .st8 .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .st8 .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.bg_st4-st5-st6-st7-st8 {
    background: url(../img/bg2.png) no-repeat center;
}

footer {
    background-color: lightgray;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: all ease-in-out 400ms;
    padding: 100px 100px;
}

.footer_left {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
    text-align: left;
    transition: all ease-in-out 400ms;
}

.footer_left p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
}

.footer_a_main {
    font-size: 50px;
    font-weight: 700;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-decoration: none;
    padding: 10px 0;
}

.footer_a_main:hover {
    color: rgba(255, 127, 2, 1);
    text-shadow: 0 1px 10px rgba(255, 127, 2, 1);
}

.footer_a_main2 {
    font-size: 25px;
    font-weight: 500;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-decoration: none;
    padding: 0 0 10px;
}

.footer_a_main2:hover {
    color: rgba(255, 127, 2, 1);
    text-shadow: 0 1px 10px rgba(255, 127, 2, 1);
}

.footer_a {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-decoration: none;
}

.footer_a:hover {
    color: rgba(255, 127, 2, 1);
    text-shadow: 0 1px 10px rgba(255, 127, 2, 1);
}

.footer_right {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    transition: all ease-in-out 400ms;
    text-align: left;
}

.footer_right_top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: all ease-in-out 400ms;
}

.footer_right_top p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
}

.footer_p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
}

.footer_right_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    transition: all ease-in-out 400ms;
}

.footer_right_bottom a {
    font-size: 20px;
    font-weight: 500;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-decoration: none;
}

.footer_right_bottom a:hover {
    color: rgba(255, 127, 2, 1);
    text-shadow: 0 1px 10px rgba(255, 127, 2, 1);
}

.last_infa {
    width: 100%;
    height: 100px;
    background-color: rgba(49, 49, 49, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.last_inf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 100px;
}

.last_inf p {
    font-size: 20px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(249, 249, 249, 1);
}

.last_inf .btn {
    width: 163px;
    height: 40px;
}

.footer_p span {
    font-size: 20px;
    font-weight: 700;
}

/* modal window */
.modal_window_main_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 1;
    display: none;
    transition: all ease-in-out 400ms;
    animation: pulsing 500ms alternate;
}

.active {
    display: block;
    z-index: 100;
}

.body_active {
    user-select: none;
    overflow-y: hidden;
}

@keyframes pulsing {
    0% {
        transform: scale(0.5, 0.5) rotate(180deg);
    }

    100% {

        transform: scale(1.0, 1.0) rotate(360deg);
    }
}

.modal_window_main_inf {
    width: 500px;
    height: 400px;
    border-radius: 45px;
    background-color: rgba(249, 249, 249, 1);
    transition: all ease-in-out 400ms;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border: 1px solid rgba(255, 125, 0, 1);
    box-shadow: 0 5px 20px rgba(255, 125, 0, 1);
}

.modal_window_main_inf h3,
.modal_window_more_inf h3 {
    font-size: 25px;
    font-weight: 700;
    color: rgba(49, 49, 49, 1);
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
}

.modal_window_main_inf p,
.modal_window_more_inf p {
    font-size: 20px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.modal_window_main_inf input,
.modal_window_more_inf input {
    width: 100%;
    height: 50px;
    color: rgba(49, 49, 49, 1);
    padding: 5px;
    outline-color: rgba(255, 125, 0, 1);
    border-radius: 16px;
    border: none;
    box-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.modal_window_main_inf input::placeholder,
.modal_window_more_inf input::placeholder {
    color: rgba(255, 125, 0, 1);
}

.modal_window_main_inf input:focus,
.modal_window_more_inf input:focus {
    box-shadow: 0 2px 10px rgba(255, 125, 0, 1);
}

.exit,
.exit1 {
    position: absolute;
    right: 25px;
    top: 5px;
    cursor: pointer;
}

.modal_window_more_inf {
    width: 400px;
    height: 300px;
    background-color: rgba(249, 249, 249, 1);
    position: fixed;
    z-index: 100;
    border: 1px solid rgba(255, 125, 0, 1);
    box-shadow: 0 5px 20px rgba(255, 125, 0, 1);
    transition: all ease-in-out 400ms;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: none;
}

.modal_window_more_inf p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(49, 49, 49, 1);
    transition: all ease-in-out 400ms;
    text-shadow: 0 2px 10px rgba(49, 49, 49, 1);
}

.modal_window_more_inf .btn2 {
    width: 100%;
    margin: 10px 0 0;
}